# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#编译文件
DensityInspection.axf
DensityInspection.htm
DensityInspection.lnp
DensityInspection.map
DensityInspection.plg
DensityInspection.sct
DensityInspection.tra
DensityInspection.uvgui.zhou_
DensityInspection.uvgui_zhou_.bak
DensityInspection.uvopt
DensityInspection_DebugInFlash.dep
DensityInspection_Target 1.dep
DensityInspection_uvproj.bak
main.crf
main.d
main.o
startup_LPC11xx.d
startup_LPC11xx.lst
startup_LPC11xx.o
startup_LPC11xx.s
system_lpc11xx.crf
system_lpc11xx.d
system_lpc11xx.o